/* TODO Add site wide styles */

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    color: white;
}

img {
    height: 450px;
    width: auto;
}
